@{
    Layout = null;
    ZEHOU.PM.DB.dbLabelInfo.Role role = ViewBag.Model;

    var isNew = string.IsNullOrEmpty(role.ID);
    if (ViewBag.IsNew != null)
    {
        isNew = ViewBag.IsNew;
    }
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    @Html.Raw(PageHelper.DetailPageJsAndCss())
    <link href="/layui/config/layui/css/layui.css" rel="stylesheet" />
    @*<script src="/layui/config/lib/admin.js"></script>*@
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" method="post">

                <div class="layui-form-item">
                    <label class="layui-form-label">角色编号：</label>
                    <div class="layui-input-block">
                        <input id="role_id" style="height:30px" class="txt" lay-verify='required' value="@role.ID" name="ID" @(isNew ? "" : "readonly") />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色名称：</label>
                    <div class="layui-input-block">
                        <input id="role_name" style="height:30px" class="txt" lay-verify='required' value="@role.Name" name="Name" />
                    </div>
                </div>


                <div class="layui-form-item">
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">角色状态：</label>
                        <div class="layui-input-inline">
                            <select name='IsUse' id='IsUse' lay-verify='required' lay-filter='IsUse'>
                                <option value="true" @(role.IsUse ? "selected" : "")>启用</option>
                                <option value="false" @(!role.IsUse ? "selected" : "")>禁用</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序号：</label>
                    <div class="layui-input-block">
                        <input id="order_id" style="height:30px" class="txt" lay-verify='required' value="@role.OrderID" name="OrderID" />
                    </div>
                </div>
                <div class="layui-form-item" style="margin-left: 110px; margin-top: 50px">
                    <button id="btnOK" class="layui-btn btnOption  layui-btn-small btnAdd" type="submit">保 存 </button>
                    <button id="collapse" class="layui-btn layui-btn-small layui-btn-warm" type="button">取 消</button>
                </div>
                <div style="color:red">@ViewBag.ERROR</div>

                <input type="hidden" name="isNew" value="@(isNew?"true":"false")" />
            </form>
        </div>
    </div>
    <script src="/layui/config/layui/layui.js"></script>
    <script src="/layui/config/layui/jquery.min.js"></script>
    <script>

        layui.use('form', function () {
            var form = layui.form;

        });

        $('#collapse').click(function () {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
            parent.$('#search').trigger("click");
        });

        if (@(ViewBag.Succ != null?"true":"false")) {
            $('#collapse').trigger("click");
        }
    </script>
</body>
</html>
